.desktop-1{
    align-items: flex-start;
    background-color: 0#343434;
    border: lpx none;
    display: flex;
    gap: 32px;
    height: 1024px;
    padding: 48px 34px;
    width: 1448px;
}
.hidden,.hidden * {
        pointer-events: none;
        visibility: hidden;
}
.rectangle-2 {
    background-color: black;
    border-radius: 24px;
    height:918px;
    margin-top: 10px;
    width:772px;
}
.frame-1{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
     gap: 26px;
    margin-left: 6px;
    margin-top: 1B4px;
    position: relative;
    width: fit-content;
}
.rectangle {
    background-color: black;
    border-radius: 24px;
    height: IOOpx;
    min-width: IOOpx;
    position: relative;
}
.overlap-group {
        align-items: flex-end;
        background-color: black;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        margin-top: 10px;
        min-height: 918px;
        padding: 50px;
        width: 430px;
}
.rectangle-9 {
        background-color: rgb(184, 184, 184);
        height: 492px;
        width: 329px;
}
.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 81px;
    min-width: 329px;
}
.rectangle-1 {
    background-color: rgb(94, 79, 79);
    height: 126px;
    width: 124px;
}